.theme-light {
  --color-primary: #3bd580;
  --color-primaryDark: #158d4b;
  --color-secondary: #072f40;
  --color-title: #fff;
  --color-background: #fff;
  --color-hover-link: #fff;
  --color-text-main: #072f40;
  --color-desc-content-cotnainer: #3bd580;
  --color-desc-content-text: #fff;
}
.theme-dark {
  --color-primary: #1d1d1d;
  --color-primaryDark: #000000;
  --color-secondary: #b784f7;
  --color-title: #fff;
  --color-background: #121212;
  --color-hover-link: #fff;
  --color-text-main: #fff;
  --color-desc-content-cotnainer: #b784f7;
  --color-desc-content-text: #fff;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--color-background);
}

h1,
h3,
h4,
h5 {
  font-weight: bold;
}

p {
  margin: 0;
}

/*----- Header -----*/
.header-portfolio {
  color: var(--color-title);
  background-color: var(--color-primary);
  box-shadow: 0 1px 10px var(--color-secondary);
  text-align: center;
}

.icon-profile {
  width: 24px;
  height: 24px;
}

.link-profile-container a:active,
a:visited,
a:link {
  color: var(--color-secondary);
}

.link-profile-container a:hover {
  font-weight: bold;
  color: var(--color-hover-link);
}

.name-profile {
  margin-top: 20px;
}

.photo-profile {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  box-shadow: 0 0 8px var(--color-secondary);
  border-width: 3px;
  border-color: var(--color-primaryDark);
  border-style: solid;
  object-fit: cover;
}

.profile-hr-line {
  width: 50%;
  border: 2px solid var(--color-secondary);
  border-radius: 1px;
}

/*----- Main -----*/

.about-me-profile {
  text-align: center;
}

.dot-line {
  margin: 0 auto;
  background-color: var(--color-background);
  width: 10%;
  border-top: 10px dotted var(--color-secondary);
}

.main-portfolio p {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

.main-portfolio {
  color: var(--color-text-main);
}

.mobile-project,
.backend-project {
  text-align: center;
}

.screenshot-project {
  width: 263px;
  height: 293px;
  border-radius: 24px;
  box-shadow: 0 0 10px var(--color-secondary);
  margin: 14px 0;
  object-fit: cover;
  object-position: 0 0;
}

.project-description {
  display: inline-block;
  margin: 20px 0;
  text-align: start;
}

.project-desc-content {
  color: var(--color-desc-content-text);
  border-radius: 100px;
  background-color: var(--color-desc-content-cotnainer);
  padding: 2px 8px;
}

.project-desc-label {
  font-weight: bold;
}

/*----- footer -----*/
.footer-portfolio {
  color: var(--color-title);
  background-color: var(--color-primary);
  box-shadow: 0 -1px 10px var(--color-secondary);
  text-align: center;
}

/*----- aside -----*/
.icon-theme {
  width: 50px;
  padding: 5px;
  border-radius: 25px;
  background-color: #ffffff;
}

.menu {
  background-color: var(--color-secondary);
  box-shadow: 0 0 8px var(--color-secondary);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 40px 20px;
  position: fixed;
  right: 0;
  top: 40px;
}

.icon-theme:hover {
  box-shadow: 0 0 10px var(--color-primary);
}

@media only screen and (max-width: 480px) {
  .icon-theme {
    width: 40px;
    border-radius: 20px;
  }

  .menu {
    border-radius: 20px;
    padding: 15px;
    position: fixed;
    right: 20px;
    top: initial;
    bottom: 40px;
  }
}
